{%extends "base.html" %}
{% block content %}


<table class="table table-sm table-hover   ">
    <thead>
      <tr>
        <td scope="col">Наименование</td>
        <td scope="col">Единицы измерения</td>
        <td scope="col">Артикул</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    {% for component in components%}
      <tr>
        <td scope="row">{{component.component_name}}</td>
        <td>{{component.component_unit}}</td>
        <td>{{component.component_item}}</td>
        <td>
            {%if modal_component.get_children(component.id)%}
            <a href="{{url_for('component_info', component=component.id)}}"><button type="button" class="btn btn-success btn-sm mr-2">Составляющие</button></a>
            {%endif%}
            <a href="{{url_for('delete_component', id = component.id)}}"><button type="button" class="btn btn-sm btn-danger">Удалить</button></a>
            <!--<button type="button" class="btn btn-danger btn-sm mr-3" data-toggle="{{component.component_id}}" data-target="{{'#'+component.component_name}}">Удалить</button>
            <div class="modal fade" id='{{component.component_name}}' tabindex="-1" role="dialog" aria-labelledby="{{component.component_name+'Label'}}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h5 class="modal-title">Удалить компонент?</h5>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-rcdismiss="{{component.component_id}}">Отменить</button>
                    <a href="{{url_for('delete_component', id = component.id)}}"><button type="button" class="btn btn-danger">Удалить</button></a>
                  </div>
                </div>
              </div>
            </div>-->
        </td>
      </tr>
    {%endfor%}
    <tr>
        <td><div class='col-2 pl-0'><a href="{{url_for('create_component')}}"><button type="button" class="btn btn-success btn-sm mr-3">Добавить</button></a></div></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
{% endblock %}