{%extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container ml-4">

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Единицы измерения</th>
        <th scope="col">Артикул</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for component in components%}
      <tr>
        <th scope="row">{{component.component_name}}</th>
        <td>{{component.component_unit}}</td>
        <td>{{component.component_item}}</td>
        <td>
            <a href="{{url_for('delete_component', id = component.id)}}"><button type="button" class="btn btn-danger btn-sm mr-3">Удалить</button></a>
        </td>
      </tr>
    {%endfor%}
    <tr>
        <td><div class='col-2 pl-0'><a href="{{url_for('create_component')}}"><button type="button" class="btn btn-success btn-sm mr-3">Добавить</button></a></div></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}