{%extends 'base.html'%}


{%block content%}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
<form action = "" method = post>
    <fieldset>
       <legend>Добавить товар</legend>
       {{ form.hidden_tag() }}
       
       <div style = font-size:20px; font-weight:bold; margin-left:150px;>
          {{ form.name.label }}
          {{ form.name }}
          <br>
          
          {{ form.item.label }} {{ form.item }}
          <br>
          
          {{ form.unit.label }}
          {{ form.unit }}
          <br>

          
          <br>
          {{ form.submit }}
       </div>
       
    </fieldset>
 </form>
{%endblock%}