{%extends 'base.html'%}

{%block content%}
<div class="card card-4">
        <div class="card-body">
        <h2 class="title">Добавление товара</h2>
        <form method="POST">
        <div class="row row-space">
        <div class="col-2">
        <div class="input-group">
        <label class="label">Название товара</label>
        <input class="input--style-4" type="text" name="productname">
        </div>
        </div>
        </div>
        <div class="row row-space">
        <div class="col-2">
        <div class="input-group">
        <label class="label">Birthday</label>
        <div class="input-group-icon">
        <input class="input--style-4 js-datepicker" type="text" name="birthday">
        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
        </div>
        </div>
        </div>
        <div class="input-group">
        <label class="label">Subject</label>
        <div class="rs-select2 js-select-simple select--no-search">
        <select name="subject" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
        {% for detail in details%}
        <option>{{detail.name}}</option>
        {% endfor %}
        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 110px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-subject-xa-container"><span class="select2-selection__rendered" id="select2-subject-xa-container" title="Choose option">Choose option</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        <div class="select-dropdown"></div>
        </div>
        </div>
        <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
        </div>
        </form>
        </div>
        </div>
{%endblock%}