{%extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="col">
<table class="table table-sm table-hover">
    <thead>
      <tr>
        <td scope="col">Наименование</td>
        <td scope="col">Артикул</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    {% for product in products[::-1]%}
      <tr>
        <td scope="row">{{product.product_name}}</td>
        <td>{{product.product_item}}</td>
        <td>
            <a href="{{url_for('product_info', product = product.id)}}"><button type="button" class="btn btn-success btn-sm mr-3">Подробнее</button></a>
            <a href="{{url_for('delete_product', id = product.id)}}"><button type="button" class="btn btn-danger btn-sm">Удалить</button></a>
        </td>
      </tr>
    {%endfor%}
    <tr>
        <td><div class='col-2 pl-0'><a href="{{url_for('create_product')}}"><button type="button" class="btn btn-success btn-sm mr-3">Добавить</button></a></div></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}